@(user:String)(active:String)(movies: List[Movie])(genres: List[Genre])(implicit flash: Flash)

<!--opens main.html with contructor parameters (title)(content)(loginform)-->
@import play.api.mvc.Action

@main(user, "FlixKiller"){
<!--Left hand column-->
    <div class="filter">
        <!--Filters (for thrue db"genres")-->
        <ul class="nav nav-pills nav-stacked">
            <li class="@("active".when(active == "All"))"><a href="@routes.Movies.frontPage">All</a></li>
            @for(g <- genres){
                <li class="@("active".when(active == g.title))"><a href="@routes.Movies.filterByGenre(g.title)">@g.title</a></li>
            }
        </ul>
    </div>

    <!--Right hand column-->

    @for(movie <- movies) {
        <a href="@routes.Movies.showMovie(movie.id.get)" class="box well">
           
            <!--cover image from db or from internet && ONE LINE TITLE(overflow hidden)-->
            <div class="imgbox">
                <img class="resize" src="@movie.coverImg">
            </div>
            <div class="title">
                <span>@movie.title</span>
            </div>      
        </a>    
    }

}(flash)
