@(movies: List[Movie])(genres: List[Genre])

<!--opens main.html with contructor parameters (title)(content)(loginform)-->

@main("FlixKiller"){
<!--Left hand column-->
	<div class="filter">
		<!--Filters (for thrue db"genres")-->
		<ul class="nav nav-pills nav-stacked">
  			<li class="active"><a href="#">All</a></li>
  			@for(g <- genres){
  				<li><a href="#">@g.title</a></li>
  			}
  		</ul>
	</div>

	<!--Right hand column-->

	@for(movie <- movies) {
		<a href="#" class="box">
			<!--cover image from db or from internet && ONE LINE TITLE(overflow hidden)-->
			<img class="resize" src="@movie.coverImg">
			<div class="title">
				<span>@movie.title</span>
		  	</div>		
		</a>	
	}

}(null)
