@(user:String)(content: Html)(right: Html)(implicit flash: Flash)


<!--opens main.html with contructor parameters (title)(content)(loginform)
- - where html shown here is three column layout and "null" in the edn stands for login form-->
@main(user, "Admin Dashboard"){
<!--Left hand column-->
	<div class="col-md-8">
		<a href="@routes.Admin.dashboard">Admin home</a> |  
		<a href="@routes.Admin.newUser">Users</a> |
		<a href="@routes.Admin.showGenres">Genres</a> | 
		<a href="@routes.Admin.showMovie">Movies</a>
		<br><br>


		@content

	</div>

	<!--Right hand column-->
	<div class="col-md-4">

		@right

	</div>	
		
		
	
}(flash)