@(user:String)(movie: Movie)(genres:List[Genre])(RightHand: Html)(implicit flash: Flash)

@import helper._
@import models.Genre
@import helper.twitterBootstrap._
@import play.api.data.Form._

@admin.dashboard(user){
    <h1>Edit movie: @movie.title</h1>
    @helper.form(routes.Admin.deleteMovie(movie.title)) {
        <div class="well"> 
            <div class="form-group">
                <label for="delete" class="col-lg-4 control-label">Delete "@movie.title" Movie</label>
            
                <div class="col-lg-8">
                    <input type="submit" value="Delete" class="btn btn-danger" id="Delete">
                </div> 
            </div>  
        </div>
    }    
	
}(RightHand)(flash)