@(genres: List[Genre])

@import helper._
@import models.Genres

<h3>Genres</h3>
<table class="table table-striped table-hover ">
    <thead>
        <th>genre</th>
        <th></th>
    </thead>
    <!--Users list-->
    @for(g <- genres) {
        <tr>
            <th>@g.title<th>
            <th>
                @if(Genres.isAttachedToMovie(g.title)){
                    @form(routes.Admin.deleteGenre(g.title)) {
                        <button type="submit" value="Send" class="btn btn-xs btn-danger" id="Delete">del</button>
                    }
                } else {
                <p>Genre has movie</p>
                }
            </th>           
        </tr>
    } 
</table>