
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


/* ==================================
    Filtering & search
================================== */

.filter{
    width: 205px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.searchbox dl{
    margin-bottom: 2px;
}
.searchbox dt{
    height: 0;
}

/* ==================================
    Movie box on frontpage
================================== */


.box-default {
    border-color: #464545;
}

/*
.box {
    background-color: #303030;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 21px;
}*/

.box {
    border: 0 solid;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    /* h/w set to static instead of 16,333%/auto */

    height:310px;
    width: 200px;
    overflow: hidden;

    transition: all 0.2s ease;
}

.box:hover,
.box:focus {
    text-decoration: none;
    background-color: #15B5C1;
}
.imgbox{
    height:240px;
    width: 163px;
}

.title{
    padding-top: 14px;
    text-align: center;
    height: 40px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.title span { 
    display:inline-block; 
    vertical-align:middle 
}

img.resize{
    width:160px; 
    height: 240px;
}

/* ==================================
    Movie page
================================== */

img.cover{
    padding-bottom: 30px;
    padding-top: 5px;
    width:  100%; 
    height: auto;
}

.videoscreen {
    padding-top: 25px;

}
.infoscreen {
    padding-top: 10px;
    padding-bottom: 10px;
}
#video {
    position: absolute;
    right: 30px;
}

/* ==================================
    Other custom styles
================================== */

.navbar-brand.navbar-center {
    display: inline-block;
    float: none;
}

.form-group{
    padding-bottom: 60px;
}


