@(user:User, userForm: Form[Password])(implicit flash: Flash)


<!--opens main.html with contructor parameters (title)(content)(loginform)
- - where html shown here is three column layout and "null" in the edn stands for login form-->


@main(user.username, "User page"){
 <div class="col-md-8">
     
    @helper.form(action = routes.Userpage.editUser()) {

    <div class="well bs-component"> 
        <form class="form-horizontal">
            <fieldset>
        ￼￼      <legend>@user.username: Change your password</legend>

                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">New password</label>
                        <div class="col-lg-10">
                            @helper.inputPassword(userForm("password.main"), 'class -> "form-control", '_error ->  
                            "Passwords did not match", '_label -> "", '_help -> "", 'placeholder -> "Password")
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Repeat password</label>
                        <div class="col-lg-10">
                            @helper.inputPassword(userForm("password.confirm"), 'class -> "form-control", '_error ->
                            "Passwords did not match", '_label -> "", '_help -> "", 'placeholder -> "Password")
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-2">
                        <br><br>
                        <input type="submit" class="btn btn-primary" value='Submit'>
                    </div>
                    <div class="col-lg-3">
                        @userForm.globalError.map { error =>
                            <p class="text-warning">@error.message</p>
                        }
                        
                    </div>    
            </fieldset>
        </form> 
    </div>  
    }

    @*Delete useraccount form*@

    @helper.form(routes.Userpage.deleteUser(user.username)) {
        @if(!user.admin){
            <div class="well"> 
                <div class="form-group">
                    <label for="delete" class="col-lg-2 control-label">Delete your useraccount</label>
                
                    <div class="col-lg-10">
                        <input type="submit" value="Delete" class="btn btn-danger" id="Delete">
                    </div> 
                </div>  
            </div>
        }      
    }    
</div>          
}(flash)