@(user:String)

<div class="navbar-header">
    <!--Navbar branding and responsive collapse menu-->

    <a class="navbar-brand navbar-center" href="@routes.Movies.frontPage">FlixKiller</a>
    @if(user!=null){Welcome <a href="@routes.Userpage.showUserPage(user)">@user</a>}          
    <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>    
<div id="navbar-main" class="navbar-collapse collapse">
    <!--Navbar content-->
    <ul class="nav navbar-nav navbar-right">

        @if(user==null){

            <li>
                <a href="@routes.Auth.login" class="login">login</a>
            </li>

        } else{

            @*get admin(t/f) not implemented yet*@
            
            @if(User.isAdmin(user)){
                <li>    
                    <a href="@routes.Admin.dashboard" class="dashboard">Dashboard</a>
                </li>
            }

            <li>    
                <a href="@routes.Auth.logout" class="logout">logout</a>
            </li>
        }
    </ul>
</div>




